/**
 * Remove default margin.
 */
body {
    background-image: url('../media/fond.png');
    margin: 0;
    padding: 5px;
}

table.movement {
    border: 1px solid black;
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}
table.movement td {
    border: 1px solid black; /* Style just to show the table cell boundaries */
}
